/*webkit-sassui-flex-justify Start*/
.webkit-sassui-flex-justify {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.webkit-sassui-flex-justify[data-direction=row] {
  flex-direction: row;
}

.webkit-sassui-flex-justify[data-direction=column] {
  flex-direction: column;
}

.webkit-sassui-flex-justify[data-align=flex-start] {
  align-items: flex-start;
}

.webkit-sassui-flex-justify[data-align=center] {
  align-items: center;
}

.webkit-sassui-flex-justify[data-align=flex-end] {
  align-items: flex-end;
}

.webkit-sassui-flex-justify[data-align=normal] {
  align-items: normal;
}

/*webkit-sassui-flex-justify End*/
* {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 550px;
  margin: 0 auto;
}

.test-webkit-sassui-flex-justify {
  border: 1px solid sandybrown;
  min-height: 80px;
  margin-bottom: 20px;
}

.test-webkit-sassui-flex-justify footer {
  font-size: 12px;
  background: #eee;
}
