/*webkit-sassui-flex-justify Start*/
$webkit-sassui-flex-justify-align-map: (flex-start, center, flex-end, normal);

.webkit-sassui-flex-justify {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &[data-direction="row"] {
    flex-direction: row;
  }
  &[data-direction="column"] {
    flex-direction: column;
  }
  @each $value in $webkit-sassui-flex-justify-align-map {
    &[data-align="#{$value}"] {
      align-items: #{$value};
    }
  }
}
/*webkit-sassui-flex-justify End*/
